@import "global.css";

#radial-dendrogram-img {
    width: 100%;
    height: auto;
}

.idea-txt {
    gap: .5rem;
    align-items: baseline;
    margin-top: 1rem;
}

.idea-txt>p {
    size: 1.2rem;
    color: var(--primary-color);
}

.idea-txt>a {
    size: 1.2rem;
    color: var(--link-color);
}